.footer {
  border-top: 4px solid black;
  margin-top: 35px;
  padding-bottom: 40px;
}

.footer__form {
  max-width: 600px;
  margin: 0 auto 30px;
}

.footer .gform_button {
  margin: 0 auto !important;
  background-color: black !important;
  text-transform: uppercase !important;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 110px;

  opacity: 0;
  transform: translateY(30px);
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.footer__contacts {
  opacity: 1;
  transform: translateY(0);
}

.footer__contact {
  text-align: center;
}

.footer__copyright {
  color: #666;
}

@media (max-width: 799px) {
  .footer__contact-name {
    display: block;
  }

  .footer__copyright {
    text-align: center;
  }
}
