.paragraph-text {
  font-size: 32px;
  color: #333;
}

.paragraph-text p:first-of-type {
  margin-top: 0;
}

.paragraph-text p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 799px) {
  .paragraph-text {
    font-size: 24px;
  }
}
