.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  font-family: var(--special-font);
  font-size: 24px;
  font-weight: normal;
  line-height: 33px;
  margin-bottom: 80px;

  opacity: 0;
  transform: translateY(1em);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;

  color: black;
}

.page--loaded .section-header,
.acf-block-preview .section-header {
  opacity: 1;
  transform: translateY(0);
}

.section-header__box {
  color: inherit;
  text-decoration: none;
}

.section-header::before,
.section-header::after {
  content: url(../../images/pixel-corner-down.svg);
}

@media (max-width: 799px) {
  .section-header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
  }
}
