.grid {
  --cols: 1fr;

  display: grid;
  grid-template-columns: var(--cols);
}

.grid--spaced {
  gap: 24px;
}

.grid > * {
  min-width: 0;
}

@media (max-width: 799px) {
  .grid {
    --cols: 1 !important;
    row-gap: 20px;
  }

  .grid > *:empty {
    display: none;
  }
}
