<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<section class="container">
  <a class="section-header__box" href="#expertise" name="expertise">
    <h2 class="section-header" style="transition-delay: 2500ms;">Expert Web Development Solutions</h2>
  </a>

  <div class="grid grid--spaced" style="--cols: 2fr 1fr;">
    <div class="text--content visible-tag anim-visible__move-in-left">
      <p>Solve complex web development challenges with our team of experienced full stack developers and solutions architects. We deliver exceptional results for businesses of all sizes. Choose us for expert solutions that exceed expectations.</p>
      <p>10am Digital is in Top of Digital Agencies in Brisbane according to DesignRush. <a href="https://www.designrush.com/agency/digital-agencies/digital-strategy" rel="nofollow" target="_blank">Read more</a>.</p>
      <a class="btn btn--uppercase" href="#contacts">Contact Us</a>
    </div>

    <div class="image-el__box visible-tag distance-estimator anim-visible__move-in-right anim__scaling-img">
      <img class="image-el__image" src="{{ template_directory_uri }}/images/business-people.jpg" alt="Happy Hair Salon owner">
    </div>
  </div>
</section>

<section class="projects container">
  <div class="separator-line"></div>

  <a class="section-header__box" href="#featured" name="featured">
    <h2 class="section-header">Featured Projects</h2>
  </a>
  
  <div class="project visible-tag">
    <div class="project__meta-box">
      <div class="project__category">Project</div>
      <div class="project__meta">
        <h3 class="project__title">Nerby</h3>
        <div class="project__services">Web Development</div>
        <div class="project__description">
          Media rich portfolio website for leading Australia UI/UX designer.
        </div>
      </div>
    </div>
    <div></div>
    <a class="project__image-box" href="https://nerby.com" target="_blank">
      <img class="project__image" src="{{ template_directory_uri }}/images/nerby.png" alt="Nerby.com">
    </a>
  </div>

  <div class="project visible-tag">
    <div class="project__meta-box">
      <div class="project__category">Project</div>
      <div class="project__meta">
        <h3 class="project__title">Moduware</h3>
        <div class="project__services">Web Development</div>
        <div class="project__description">
          Informational site for modular power bank startup.
        </div>
      </div>
    </div>
    <div></div>
    <a class="project__image-box" href="https://moduware.com" target="_blank">
      <img class="project__image" src="{{ template_directory_uri }}/images/moduware.png" alt="Moduware">
    </a>
  </div>

  <div class="project visible-tag">
    <div class="project__meta-box">
      <div class="project__category">Project</div>
      <div class="project__meta">
        <h3 class="project__title">Modcoin</h3>
        <div class="project__services">Web Development</div>
        <div class="project__description">
          Digital white-paper for innovative cryptocurrency platform.
        </div>
      </div>
    </div>
    <div></div>
    <a class="project__image-box" href="http://www.modcoin.io" target="_blank">
      <img class="project__image" src="{{ template_directory_uri }}/images/modcoin.png" alt="Modcoin">
    </a>
  </div>

  <div class="project visible-tag">
    <div class="project__meta-box">
      <div class="project__category">Project</div>
      <div class="project__meta">
        <h3 class="project__title">RedSuburbs</h3>
        <div class="project__services">Web Design / Web Development</div>
        <div class="project__description">
          Digital map of Australian crime.
        </div>
      </div>
    </div>
    <div></div>
    <a class="project__image-box" href="https://redsuburbs.com.au" target="_blank">
      <img class="project__image" src="{{ template_directory_uri }}/images/redsuburbs.jpg" alt="RedSuburbs">
    </a>
  </div>
</section>

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

